.contact-content{
    width: 60%;
    margin: 5% auto;
    position: relative;
}

.contact-content h3{
    font-weight: bold!important;
}

.text-bottom{
    position: absolute;
    font-size: 3.4em;
    bottom: 0;
    left: 0;
    margin-top: 5%;
}

.img-bottom{
    float: right;
}

.coffe-time{
    width: 70%;
    float: right;
}

@media screen and (max-width: 780px) {
    .contact-content{
        margin-bottom: 70px;
    }
    .text-bottom{
        position: relative;
        word-break: break-word;
    }
}