body {
  font-family: Verdana, Geneva, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  background: url(../images/bg_img.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-main{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

a {
  color: #00B7FF;
}

.main-title{
	position: fixed;
	right:0;
	left: 0;
	top:40%;
}

.main-title img{
	display: inline;
}

.title{
	font-size: 6.8em;
	font-weight: bold;
	color: #FFF;
	/*text-decoration: underline;*/
}

.transparency{
	padding: 15px;
	background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.content{
	width: 80%;
    margin: 3% auto;
}

.ng-view-content{
	width: 100%;    
    position: absolute;
    top:50px;
    bottom: 50px;
}

footer{
	padding: 10px 25px;
	position: fixed;
	bottom: 0;
	right:0;
	left: 0;
}

footer img{
	display: inline!important;
}

.social{
	float: left;
}

.social img{
	height: 40px;
}

.signature{
	float: right;
	height: 40px;
}

@media screen and (max-width: 768px) {
	.signature{
		width: 70%
	}
}