.skills-content{
	margin: 5%;
	font-size: 3.4em;
}

.skills-content .transparency{
	height: 210px;
}

@media screen and (max-width: 768px) {
	.skills-content{
		margin-bottom: 70px;
	}

	.skills-content .transparency{
		height: auto;
	}
}