<link rel="stylesheet" href="../stylesheets/about.css">
<div id="about" class="container-fluid bg-center session">
	<div class="col-md-12">
		<h3 class="title"><strong>{{"MENU.ABOUT" | translate}}</strong></h3>
		<div class="col-md-3">
			<img class="img-responsive my-photo" src="../images/me.jpg">
		</div>
		<div class="col-md-9 about-text">
			<p>{{"ABOUT_CONTENT_1" | translate}}</p>
			<p>{{"ABOUT_CONTENT_2" | translate}}</p>
			<p>{{"ABOUT_CONTENT_3" | translate}}</p>
		</div>
	</div>

</div>