<div id="contact" class="content">
	<div class="row">
		<h3 class="title"><strong>{{"MENU.CONTACT" | translate}}</strong></h3>
		<div class="contact-content">
			<div class="row transparency">
				<h3 class="text-center">{{"CONTACT_CONTENT.GREETING_1" | translate}}</h3>
				<h3 class="text-center">{{"CONTACT_CONTENT.GREETING_2" | translate}}</h3>
				<div class="row greeting-align">
					<div class="col-md-9 text-bottom">
						<p>{{"CONTACT_CONTENT.EMAIL" | translate}}</p>
						<p>{{"CONTACT_CONTENT.MOBILE" | translate}}</p>
						<p>{{"CONTACT_CONTENT.SKYPE" | translate}}</p>
					</div>
					<div class="col-md-3 img-bottom">
						<img class="img-responsive coffe-time" src="../images/coffee-time.jpg">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>