<footer id="skills" class="container-fluid text-center">
	<div class="bg-footer">
		<div class="col-md-12">
			<a href="#index"><span class="glyphicon glyphicon-chevron-up"></span></a>
		</div>
		<div class="col-md-12">
			<spam>{{ 'FOOTER.GREETING_1' | translate }}</span>
			<span>{{ 'FOOTER.GREETING_2' | translate }}</span>
		</div>
		<div class="col-md-12 contacts">		
			<span>{{ 'CONTACT_CONTENT.EMAIL' | translate }} </span>
			<span>{{ 'CONTACT_CONTENT.MOBILE' | translate }}</span>
			<span>{{ 'CONTACT_CONTENT.SKYPE' | translate }}</span>		
		</div>
	</div>
</footer>