<div class="content">
	<div class="row">
		<h3 class="title"><strong>{{"MENU.PORTIFOLIO" | translate}}</strong></h3>
		<div class="portifolio-content">
			<div class="row">
				<div class="col-md-4">
					<div class="portifolio-slots">
						<div class="none">
							<img class="img-responsive" src="../images/black_coffee.png">
							<div class="inprogress">
								<img class="img-responsive" src="{{'INPROGRESS_TXT_IMG' | translate}}">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="portifolio-slots">
						<div class="none">
							<img class="img-responsive" src="../images/black_coffee.png">
							<div class="inprogress">
								<img class="img-responsive" src="{{'INPROGRESS_TXT_IMG' | translate}}">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="portifolio-slots">
						<div class="none">
							<img class="img-responsive" src="../images/black_coffee.png">
							<div class="inprogress">
								<img class="img-responsive" src="{{'INPROGRESS_TXT_IMG' | translate}}">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="portifolio-slots">
						<div class="none">
							<img class="img-responsive" src="../images/black_coffee.png">
							<div class="inprogress">
								<img class="img-responsive" src="{{'INPROGRESS_TXT_IMG' | translate}}">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="portifolio-slots">
						<div class="none">
							<img class="img-responsive" src="../images/black_coffee.png">
							<div class="inprogress">
								<img class="img-responsive" src="{{'INPROGRESS_TXT_IMG' | translate}}">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="portifolio-slots">
						<div class="none">
							<img class="img-responsive" src="../images/black_coffee.png">
							<div class="inprogress">
								<img class="img-responsive" src="{{'INPROGRESS_TXT_IMG' | translate}}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>