<link rel="stylesheet" href="../stylesheets/skills.css">
<div class="content">
	<div class="row">
		<h3 class="title"><strong>{{"MENU.SKILLS" | translate}}</strong></h3>
		<div class="row skills-content">			
			<div class="col-md-4">
				<div class="transparency">
					<span><strong>{{"SKILLS_TITLE_1" | translate}}</strong></span>
					<ul>
						<li>Javascript - AngularJs/ JQuery</li>
						<li>CSS - Bootstrap</li>
						<li>NodeJs</li>
						<li>J2EE</li>
						<li>C#</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="transparency">
					<span><strong>{{"SKILLS_TITLE_2" | translate}}</strong></span>
					<ul>
						<li>Oracle</li>
						<li>MySql</li>
						<li>SqlServer</li>
						<li>Mongodb</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="transparency">
					<span><strong>{{"SKILLS_TITLE_3" | translate}}</strong></span>
					<ul>
						<li>{{"SKILLS_OTHERS_1" | translate}}</li>
						<li>{{"SKILLS_OTHERS_2" | translate}}</li>
						<li>{{"SKILLS_OTHERS_3" | translate}}</li>
					</ul>
				</div>
			</div>			
		</div>
	</div>
</div>