<link rel="stylesheet" href="../stylesheets/skills.css">
<div class="container-fluid bg-center bg-skills session">
	<div class="col-md-12">
		<h3 class="title"><strong>{{"MENU.SKILLS" | translate}}</strong></h3>
		<div class="col-md-9">
			<div class="col-md-5">
				<span>{{"SKILLS_TITLE_1" | translate}}</span>
				<ul>
					<li>Javascript - AngularJs/ JQuery</li>
					<li>CSS - Bootstrap</li>
					<li>NodeJs</li>
					<li>J2EE</li>
					<li>C#</li>
				</ul>
			</div>
			<div class="col-md-3">
				<span>{{"SKILLS_TITLE_2" | translate}}</span>
				<ul>
					<li>Oracle</li>
					<li>MySql</li>
					<li>SqlServer</li>
					<li>Mongodb</li>
				</ul>
			</div>
			<div class="col-md-4">
				<span>{{"SKILLS_TITLE_3" | translate}}</span>
				<ul>
					<li>{{"SKILLS_OTHERS_1" | translate}}</li>
					<li>{{"SKILLS_OTHERS_2" | translate}}</li>
					<li>{{"SKILLS_OTHERS_3" | translate}}</li>
				</ul>
			</div>			
		</div>
		<div class="col-md-3">
			<img class="img-responsive coffe-time" src="../images/coffee-time.jpg">
		</div>
	</div>

</div>